[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
h5py = "==2.8.0"
keras = "==2.2.4"
tensorflow = "==1.13.0rc2"
dlib = "==19.16.0"
opencv-python = "==3.4.3.18"
imutils = "==0.5.1"
numpy = "==1.15.2"
matplotlib = "==3.0.0"
scipy = "==1.1.0"
validate-email = "*"
py3dns = "*"

[dev-packages]

[requires]
python_version = "3.7"
